h1{
    background-color: brown;
    height: 200px;
    width: 300px;

    /* border-width: 5px;
    border-style: solid;
    border-color: blue; */

    border: 10px solid green;
    border-radius: 20px;
/* 
    border-top: 5px;
    border-bottom: 5px;
     */

    padding: 10px;
    margin: 10px;

}
h2{
    background-color: pink;
    border: 5px solid blue;
    padding: 5px ;
    /* padding: 10px 5px 20px 5px; */
    margin: 5px 5px 5px 10px;
}

p{
    background-color: green;
    border: 5px solid blue;
    padding: 5px;
    margin: 10ex;
}