*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background-color: black;
}
.container{
    padding: 10px;
    position: relative;
}
.box{
    height: 200px;
    width: 300px;
    background-color: yellow;
    position: absolute;
    animation-name: moving;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    /* animation-direction: alternate; */
    animation-delay: 2s;
    /* animation-fill-mode: forwards; */
}
@keyframes moving {
    0%{
        background-color: yellow;
        top: 10px;
        left: 10px;
    }
    25%{
        background-color: blue;
        top: 10px;
        left: 1000px;
    }
    50%{
        background-color: rgb(238, 12, 65);
        top: 500px;
        left: 1000px;
    }
    75%{
        background-color: rgb(12, 238, 65);
        top: 500px;
        left: 10px;
    }
    100%{
        background-color: yellow;
        top: 10px;
        left: 10px;
    }

}