*{
    padding: 0px;
    margin: 0px;
}

body{
    background-color: black;
}
.container{
    background-color: white;
    padding: 5px;
    display: flex;
    gap: 5px;
}
.box{
    height: 300px;
    width: 200px;

}
.first{
    background-color: blue;
}
.second{
    /* background-color: orange; */
    display: flex;
    flex-direction: column;
    
    gap: 20px;
}
.child{
    width: 200px;
    height: 150px;
    
    background-color: green;
}
