/* tag or element selector */

/* h1{
    background-color: pink;

}
ul{
    background-color: green;
}
ol{
    background-color: aqua;
} */

/* id - base selection  */

/* #first{
    background-color:blue;
}
#second{
    background-color: brown;
} */

/* class base selection */

/* .third{
    background-color: pink;
}
.fourth{
    background-color: purple;
} */

/* group base selection */

/* h1 , .third{
    background-color: blue;
}

h2 , #first{
    background-color: brown;
} */


h1{
    background-color: rgba(84, 165, 222, 0.627);
}
h2{
    background-color: hsl(110, 60%, 30%);
}
h1{
    font-size: 100px;
}
h2{
    font size: 1em;

}
ol{
    font-size: 5vw;
}

ul{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}