.container{
    height: 200px;
    width: 200px;

    background-color: orange;
    /* box-shadow: 20px 10px blue; */

    /* box-shadow: 
    20px 10px 5px green; */

    /* box-shadow: 
    20px 10px 0px 10px green; */

    /* background-color: yellow;
    border-radius: 50%;
    box-shadow:0px 0px 10px 15px rgba(248, 37, 9, 0.952) ; */

    overflow: scroll;
}


/*  Box shadow :--> offset - x  offset - y  blur radius spread radius */