.container{
    height: 400px;
    width: 400px;
    background-color: aqua;
    font-size: 40px;
}

@media screen and (max-width:900px){
    .container{
        background-color: rgb(149, 238, 48);
        font-size: 30px;
    }
}

/* @media screen and (max-width:600px){
    .container{
        background-color: blue;
        font-size: 30px;
    }
} */

/* @media screen and (min-width:800px){
    .container{
        background-color: orange;
        font-size: 50px;
    }
} */