#container{
    background-color: yellow;
    height: 200px;
    width: 300px;
    position: relative;
    border: 5px , solid,rgb(248, 245, 245);
    border-radius: 5px;

}
#flag{
    background-color: pink;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: absolute;
    left: 100px;
    top: 50px;
    
}