*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    background-color: black;
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    height: 400px;
    width: 400px;
    background-color: rgb(245, 8, 8);

    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%); */
    font-size: 30px;
    color: rgb(235, 240, 239);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    animation-name: moving;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes moving {
    /* from{
        transform: rotate(0deg) translateX(200px) rotate(0deg);
    }
    to{
        transform: rotate(360deg) translateX(200px) rotate(-360deg);
    } */
     from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
    
}
.sun{
    height: 50px;
    width: 50px;
    background-color: green;
    transform: translateX(150px);
    border-radius: 50%;
}