*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    perspective: 800px;
}
.box{
    height: 200px;
    width: 200px;
    background-color: yellow;
    border-radius: 10px;
    cursor: pointer;
    /* transition-property: all;
    transition-duration: 3s;
    transition-timing-function: 
    linear;
    transition-delay: 2s; */


    
    /* transform: translateY(300px); */
    /* transform: translate(200px,-300px); */
    /* transform: rotate(40px); */
    /* transform: skewY(30deg); */

    /* transition: all 3s; */

    animation-name: moving;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}
@keyframes moving {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
    
}
.box:hover{
    /* background-color: purple;
    height: 300px;
    width: 300px; 
    transform: translateZ(200px);
    transform: rotateY(-40deg); */
}
    
