*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: black;
    padding-top: 20px;
    display: flex;
    justify-content: center;

}
.container{
    background-color: rgba(84, 83, 82, 0.352);
    border: 3px solid rgba(127, 132, 136, 0.954);
    font-size: 40px;
    padding: 10px;
    color: aliceblue;
    width: 70%;
    border-radius: 10px;
    white-space: nowrap;
    
}
p{
    margin-left: 100%;
    animation-name: moving;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
@keyframes moving {
    from{
        margin-left: 100%;
    }
    to{
        margin-left: -100%;
    }
}
